@import "../src/index.scss";
button {
	margin: 1%;
}



.center{
	@include flex-center();
}
// type stuff here
.form {
	::-webkit-scrollbar{
		display: none;
	}

	@include flex-center();
	flex-direction: row;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	width: 100vw;
	background-color: $blue;

	form {
		display: block;
		background-color: $blue;
		@include borderRadius;
		width: 50em;
		padding: 1%;
	}

	input {
		width: 20em;
		background-color: #35606b;
		border: 6px solid #35606b;
		border-radius: 5px;
		color: $bg;
	}

	button {
		background-color: $purple;
		border: none;
		padding: 2%;
		margin: 1%;
		color: $bg;
		width: fit-content;
		cursor: pointer;
		@include borderRadius();
	}

	
}


.container {
	color: $bg;
	margin: 0.5%;
	width: 60vw;
    height: 65vh;
    overflow-x: auto;
    overflow-y: auto;

	
	div {
		background-color: $blue;
		display: block;
		padding: 1%;
		// max-width: 75%;
		overflow: auto;
		overflow-y: scroll;
		@include borderRadius;
	}
	.user-txt {
		background-color: $green;
		margin-left: 50%;
		float: right;
		width: fit-content;
		max-width: 50%;
		max-height: 50%;
		white-space: pre-line;
		overflow-wrap: normal;
		overflow: auto;
	}
	.ai {
		white-space: pre-line;
		overflow-wrap: normal;
		background-color: $red;
		margin-right: 50%;
		float: left;
		width: fit-content;
		max-width: 50%;
		max-height: 50%;
		overflow: auto;
	}
	.user-txt,
	.ai {
		padding: 1%;
		max-width: 45%;
		padding: 1%;
		border-radius: 5px;
	}
}

// animation 
.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 900ms infinite;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: "\2026";
	/* ascii code for the ellipsis character */
	width: 0px;
  }
  
  @keyframes ellipsis {
	to {
	  width: 40px;
	}
  }
  
  @-webkit-keyframes ellipsis {
	to {
	  width: 40px;
	}
  }
  
.response{
	text-align: center;
	font-weight: bold;
	color: #2A2A2A;
}

h1{
	text-align: center;
	color: $purple
}

.start{
	font-weight: bold;
	font-size: larger;
	text-align: center;
}