@import "../src/index.scss";

.form {
	@include flex-center();
	flex-direction: row;
	position: fixed;
	bottom: 0;
	
	width: 100%;
	padding: 0.5%;
	background-color: $blue;

	form {
		background-color: $blue;
		border-radius: 5px;
		width: 1500px;
		padding: .5%
		// height: 
	}

	input {
		width: 75%;
		background-color: #35606B;
		border: 6px solid #35606B;
		border-radius: 5px;
		color: $bg;
	}

	button {
		background-color: $purple;
		border: none;
		padding: 1%;
		margin: 1%;
		color: $bg;
		width: fit-content;
		cursor: pointer;
		@include borderRadius();
	}
}

.container {
	@include flex-center();
	color: $bg;
	div {
		background-color: $blue;
		display: block;
		padding: 1%;
		width: 900px;
		@include borderRadius;
	}
	.user-txt {
		background-color: $green;
		margin-left: 50%;
		float: right;
	}
	.ai {
		background-color: $red;
		margin-right: 50%;
		float: left;
	}
	.user-txt,
	.ai {
		padding: 1%;

		max-width: fit-content;
		overflow: scroll;
		padding: 1%;
		border-radius: 5px;

		overflow: hidden;
	}
}
