$bg: #f3fcf0ff;
$red: #6b2737ff;
$blue: #559cadff;
$green: #31493cff;
$purple: #6b4682ff;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

@mixin flex-center{
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin borderRadius{
  border-radius: 5px;
}