$bg: #f3fcf0ff;
$red: #6b2737ff;
$blue: #559cadff;
$green: #31493cff;
$purple: #6b4682ff;

body{
  background-color: $bg;
  width: 100%;
}

@mixin flex-center{
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin borderRadius{
  border-radius: 5px;
}