$bg: #E8FCE2;
$red: #6b2737;
$blue: #559cad;
$green: #31493c;
$purple: #6b4682;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.light{
	background-color: $bg;
  height: 89vh;
}

.dark{
	background-color: #2A2A2A;
  height: 89vh;
}

.loadingDark{
  color: $bg;
}

.loadingLight{
  color: $purple;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

@mixin flex-center{
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin borderRadius{
  border-radius: 5px;
}